@media (min-width: 1024px)
{
  body
  {
    background: #eee;
  }

  /* Навигация */
  .menu
  {
    position: absolute;
    top: 0;
    width: 100%;
    height: 48px;
    text-align: center;
    font-size: 105%;
    background: #fff;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }

  .menu .container
  {
    margin: auto;
    width: 960px;
    height: 48px;
  }

  .menu .mobile-container
  {
    display: none;
  }

  .menu .container .title,
  .menu .container .sections,
  .menu .container .search,
  .menu .container .user
  {
    display: inline-block;
    float: left;
    height: 100%;
    line-height: 2.5;
  }

  .menu .container .title
  {
    width: 160px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    border-right: 1px solid #e5e5e5;
  }

  .menu .container .sections a
  {
    display: inline-block;
    height: 100%;
    padding: 0 17px;
    font-weight: 300;
    font-size: 16px;
    line-height: 3;
  }

  .menu .container .search
  {
    width: 192px;
    color: #d6d6d6;
    font-size: 16px;
  }

  .menu .container .search .icon
  {
    position: absolute;
    margin-top: -4px;
    margin-left: 16px;
    font-size: 22px;
  }

  .menu .container .search input
  {
    width: 100%;
    height: 100%;
    padding-left: 52px;
    font-size: 16px;
    font-weight: 300;
    font-family: Roboto, sans-serif;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .menu .container .title,
  .menu .container .sections a,
  .menu .container .search
  {
    border-right: 1px solid #e5e5e5;
  }

  .menu .container .user
  {
    width: 180px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  .menu .container .user::after /* градиент */
  {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    margin-left: 170px;
    
    /* префиксов нет, потому что поддержка хороша (http://caniuse.com/#feat=css-repeating-gradients) */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  }

  .menu .container .user img
  {
    position: relative;
    float: left;
    top: 10px;
    left: 16px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
  }

  .menu .container .user .notisfactions
  {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 8px;
    border: 2px solid #fff;
    border-radius: 100%;
    background: #ff2400;
  }

  .menu .container .user span
  {
    position: relative;
    top: 3px;
    left: 12px;
    font-size: 14px;
    font-weight: 300;
  }

  /* Обложка */
  .cover
  {
    background-position: 50% 25%;
  }

  .cover::after
  {
    height: 544px;
  }

  .cover .content
  {
    position: relative;
    top: 40%;
    left: 128px;
    width: 448px;
    z-index: 15;
  }

  .cover .content h2
  {
    margin-bottom: 16px;
    font-size: 42px;
  }

  .cover .content .description
  {
    font-size: 18px;
  }

  .cover .share
  {
    display: table;
    position: relative;
    top: 243px;
    width: 448px;
    left: 128px;
    z-index: 15;
  }

  .cover .share a
  {
    display: table-cell;
    padding: 8px;
    color: #fff;
    font-size: 14px;
  }

  .cover .share a .count
  {
    float: right;
  }

  .cover .share .share-twitter
  {
    background: #00b7ec;
  }

  .cover .share .share-facebook
  {
    background: #425497;
  }

  .cover .share .share-vk
  {
    background: #526e8f;
  }

  /* Статья */
  .article
  {
    position: relative;
    width: 960px;
    margin: 0 auto 0 auto;
    word-wrap: break-word;
    z-index: 5;
  }

  .article > .content
  {
    padding: 32px 128px;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    background: #fff;
  }

  /* Цитата */
  blockquote
  {
    margin: 32px 0;
    font-family: Georgia, serif;
  }

  blockquote img
  {
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin-top: 4px;
    border-radius: 100%;
  }

  blockquote author
  {
    display: block;
    margin-left: 84px;
    margin-bottom: -12px;
    font-size: 24px;
    font-family: Roboto, sans-serif;
  }

  blockquote author b
  {
    display: block;
    font-size: 26px;
  }

  blockquote p
  {
    margin-left: 84px;
    font-size: 19px;
  }

  /* Лучшие материалы */
  .featured
  {
    position: relative;
    width: 90%;
    margin: 64px auto;
    padding-top: 64px;
    text-align: center;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
  }

  .featured h3,
  .featured .button-container
  {
    display: inline-block;
    position: absolute;
    width: 372px;
    background: #eee;
  }

  .featured h3
  {
    width: 372px;
    top: -52px;
    margin-left: -185px;
    font-weight: 300;
    font-size: 32px;
  }

  .featured button
  {
    width: 300px;
    padding: 24px 0;
    outline: 0;
    border: 2px solid #d3d3d3;
    border-radius: 100px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 20px;
    background: #eee;
  }

  .featured .button-container
  {
    bottom: -40px;
    margin-left: -185px;
  }

  .featured button:hover
  {
    background: #e5e5e5;
  }

  .featured button:active
  {
    color: #fff;
    background: #000;
    border-color: #000;
  }

  .featured .container
  {
    width: 900px;
    margin: auto;
    padding-left: 38px;
    overflow: hidden; /* чиним высоту */
  }

  .featured a
  {
    display: block;
    float: left;
    width: 262px;
    margin: 0 38px 32px 0;
    text-align: left;
  }

  .featured a .img /* не тегом, т.к. в мобильной версии не нужен background-size: cover, который у <img> */
  {
    display: inline-block;
    width: 262px;
    height: 152px;
    background-size: cover;
  }

  .featured a h4
  {
    margin-top: 12px;
    margin-bottom: -4px;
    font-size: 20px;
    font-weight: 500;
  }

  .featured a p
  {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
  }

  .featured .unvisible
  {
    display: none;
    opacity: 0;
  }

  .featured .swiper-pagination
  {
    display: none;
  }

  /* Комментарии */
  .comments
  {
    width: 960px;
    margin: 96px auto 64px auto;
    word-wrap: break-word;
    overflow: hidden;
  }

  .comments .container
  {
    margin: 48px 256px 48px 64px;
  }

  .comments .comment
  {
    margin: 24px 0;
  }

  .comments .comment.second-level
  {
    margin-left: 60px; 
  }

  .comments .comment img,
  .comments .form img
  {
    display: block;
    position: absolute;
    width: 42px;
    height: 42px;
    margin-top: 4px;
    border-radius: 3px;
  }

  .comments .comment .rating
  {
    margin-top: 8px;
  }

  .comments .comment .info,
  .comments .comment p,
  .comments .comment .reply,
  .comments .form textarea,
  .comments .form .send
  {
    margin-left: 60px;
  }

  .comments .comment time
  {
    margin-left: 14px;
    color: #aaa;
    font-size: 12px;
    font-weight: 300;
  }

  .comments .comment p
  {
    font-size: 14px;
  }

  .comments .comment .reply:hover
  {
    cursor: pointer;
    color: #888;
    border-bottom-color: #888;
  }

  .comments .comment .reply-to
  {
    margin-left: 40px;
  }

  /* Форма написания комментариев */
  .comments .form textarea
  {
    margin-top: 4px;
    width: calc(100% - 76px); /* убрал отступ слева + внутренний отступ */
    height: 150px;
    padding: 8px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    outline: none;
    resize: none;
  }

  .comments .form .mobile-caption
  {
    display: none;
  }

  /* Подвал */
  .bottom
  {
    margin: -16px auto 64px auto;;
    width: 960px;
  }

  .bottom .title,
  .bottom .links,
  .bottom .social
  {
    display: inline;
    margin: 0 48px 0 64px;
  }

  .bottom .title
  {
    font-size: 18px;
    font-weight: 500;
  }

  .bottom .links a
  {
    margin: 0 24px;
    font-size: 14px;
  }

  .bottom .links a:first-of-type
  {
    margin-left: 0;
  }

  .bottom .links a:last-of-type
  {
    margin-right: 0;
  }

  .bottom .social a
  {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 6px;
    color: #fff;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    border-radius: 100%;
  }

  .bottom .social a:hover
  {
    background: #000;
  }

  .bottom .social a:active
  {
    top: 2px;
  }

  .bottom .social a .icon
  {
    margin-right: 0;
  }

  .bottom .social .twitter
  {
    background: #31adf4;
  }

  .bottom .social .facebook
  {
    background: #304591;
  }

  .bottom .social .vk
  {
    background: #527397;
  }

  .bottom .social .gplus
  {
    background: #d94435;
  }

  .bottom .social .ok
  {
    background: #f2812e;
  }
}