/* Иконки */
@font-face
{
  font-family: 'icons';
  src: url('../img/icons/icons.eot?40792323');
  src: url('../img/icons/icons.eot?40792323#iefix') format('embedded-opentype'),
       url('../img/icons/icons.woff?40792323') format('woff'),
       url('../img/icons/icons.ttf?40792323') format('truetype'),
       url('../img/icons/icons.svg?40792323#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon
{
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  font-variant: normal;
  text-transform: none;
 
  font-size: 100%;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

/* Всякие полезные штуки без категории */
.clear
{
  clear: both;
}

.pointer
{
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

/* Тело */
body
{
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background: #eee;
}

/* Навигация */
.menu
{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 48px;
  text-align: center;
  font-size: 105%;
  background: #fff;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
/*
.menu ul
{
  display: inline-block;
  width: 1000px;
  margin: 0;
}

.menu li
{
  display: inline-block;
  height: 48px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  border-right: 1px solid lightgrey;
}

.menu li a,
.menu li input
{
  display: block;
  width: 100%;
  height: 100%;
}

.menu li a
{
  text-decoration: none;
  *line-height: 24px;
}

.menu .user
{
  box-shadow: inset -15px 0 15px -15px #333;
}

.menu .user img
{
  float: left;
  position: relative;
  top: -2px;
  width: 28px;
  height: 28px;
  border-radius: 100%;
}

.menu .notisfactions
{
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  top: 3px;
  left: -6px;
  border: 2px solid #fff;
  border-radius: 100%;
  background: #ff2400;
}
*/

/* Обложка */
.cover
{
  width: 100%;
  height: 544px;
  color: #fff;
  background-size: cover; 
  background-position: 50% 25%; 
  background-repeat: no-repeat; 
  background-image: url('../img/article/B-Ty0pFIYAEUNgU.jpg');
}

/* Затемнение картинки */
.cover::after /* не фильтрами потому что IE до сих пор их не поддерживает (http://caniuse.com/#feat=css-filters) */
{
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 544px;
  background: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.cover .content
{
  position: relative;
  top: 40%;
  left: 128px;
  width: 448px;
  z-index: 15;
}

.cover .content h2
{
  font-size: 42px;
  margin-bottom: 16px;
}

.cover .content time,
.cover .content author,
.cover .content .separator,
.cover .content .comments-count,
.cover .content .views-count
{
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.cover .content .separator
{
  margin: 0 4px 0 4px;
}

.cover .content .comments-count .icon,
.cover .content .views-count .icon
{
  margin: 0 8px 0 16px;
}

.cover .content .description
{
  font-size: 18px;
  line-height: 1.4;
}

.cover .share
{
  display: table;
  position: relative;
  top: 243px;
  width: 448px;
  left: 128px;
  z-index: 15;
}

.cover .share a
{
  display: table-cell;
  padding: 8px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.cover .share a .count
{
  float: right;
}

.cover .share .share-twitter
{
  background: #00b7ec;
}

.cover .share .share-facebook
{
  background: #425497;
}

.cover .share .share-vk
{
  background: #526e8f;
}

/* Статья */
.article
{
  position: relative;
  width: 960px;
  margin: 0 auto 0 auto;
  word-wrap: break-word;
  z-index: 5;
}

.article > .content
{
  padding: 32px 128px;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  background: #fff;
}


/* Цитата */
blockquote
{
  margin: 32px 0;
  font-family: Georgia, serif;
}

blockquote img
{
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin-top: 4px;
  border-radius: 100%;
}

blockquote author
{
  display: block;
  margin-left: 84px;
  margin-bottom: -12px;
  font-size: 24px;
  font-family: Roboto, sans-serif;
}

blockquote author b
{
  display: block;
  font-size: 26px;
}

blockquote p
{
  margin-left: 84px;
  font-size: 19px;
}

/* Лучшие материалы */
.featured
{
  position: relative;
  width: 90%;
  margin: 64px auto;
  padding-top: 64px;
  text-align: center;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.featured h3,
.featured .button-container
{
  display: inline-block;
  position: absolute;
  width: 372px;
  background: #eee;
}

.featured h3
{
  width: 372px;
  top: -52px;
  margin-left: -185px;
  font-weight: 300;
  font-size: 32px;
}

.featured button
{
  width: 300px;
  padding: 24px 0;
  outline: 0;
  border: 2px solid #d3d3d3;
  border-radius: 100px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 20px;
  background: #eee;
}

.featured .button-container
{
  bottom: -40px;
  margin-left: -185px;
}

.featured button:hover
{
  background: #e5e5e5;
}

.featured button:active
{
  color: #fff;
  background: #000;
  border-color: #000;
}

.featured .container
{
  width: 900px;
  margin: auto;
  padding-left: 38px;
  overflow: hidden; /* чиним высоту */
}

.featured a
{
  display: block;
  float: left;
  width: 262px;
  margin: 0 38px 32px 0;
  color: #000;
  text-decoration: none;
  text-align: left;
}

.featured a img
{
  width: 262px;
  height: 152px
}

.featured a h4
{
  margin-top: 12px;
  margin-bottom: -4px;
  font-size: 20px;
  font-weight: 500;
}

.featured a p
{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}

.featured .unvisible
{
  display: none;
  opacity: 0;
}

/* Комментарии */
.comments
{
  width: 960px;
  margin: 96px auto;
  word-wrap: break-word;
  overflow: hidden;
  background: #fff;
}

.comments .container
{
  margin: 48px 256px 48px 64px;
}

.comments .comment
{
  margin: 24px 0;
}

.comments .comment.second-level
{
  margin-left: 60px; 
}

.comments .comment img
{
  display: block;
  position: absolute;
  width: 42px;
  height: 42px;
  margin-top: 4px;
  border-radius: 3px;
}

.comments .comment .info,
.comments .comment p,
.comments .comment .reply
{
  margin-left: 60px;
}

.comments .comment .info
{
  display: block;
}

.comments .comment author
{
  font-size: 16px;
  font-weight: 700;
}

.comments .comment time
{
  margin-left: 14px;
  color: #aaa;
  font-size: 12px;
  font-weight: 300;
}

.comments .comment p
{
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.3;
}

.comments .comment .reply
{
  position: relative;
  top: -8px;
  font-size: 14px;
  color: #aaa;
  border-bottom-color: #aaa;
  text-decoration: none;
}

.comments .comment .reply:hover
{
  color: #888;
  border-bottom-color: #888;
}

.comments .comment .reply:active
{
  color: #000;
  border-bottom-color: #000;
}

.comments .comment .rating
{
  display: none;
}