@media (max-width: 1023px) /* запас, скажем */
{
  body
  {
    overflow-x: hidden;
  }

  /* Навигация */
  .menu
  {
    width: 100%;
    height: 48px;
    background: #fff;
  }

  .menu .container
  {
    display: none;
  }

  .menu .mobile-container
  {
    height: 100%;
  }

  .menu .mobile-container .icon,
  .menu .mobile-container .title,
  .menu .mobile-container .user
  {
    display: inline-block;
  }

  .menu .mobile-container .icon
  {
    position: relative;
    top: 8px;
    margin-left: 8px;
    font-size: 28px;
  }

  .menu .mobile-container .title
  {
    position: relative;
    top: 6px;
    font-size: 22px;
  }

  .menu .mobile-container .user
  {
    position: relative;
    right: 16px;
    float: right;
  }

  .menu .mobile-container .user img
  {
    position: relative;
    top: 10px;
    left: 16px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
  }

  .menu .mobile-container .user .notisfactions
  {
    display: inline-block;
    position: relative;
    top: 4px;
    left: 6px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 100%;
    background: #ff2400;
  }

  /* Обложка */
  .cover
  {
    position: relative;
    display: inline-block;
    height: 480px;
    background-position: 45% 40%;
  }

  .cover .content
  {
    position: absolute;
    bottom: 0;
    padding: 0 16px;
    z-index: 15;
  }

  .cover::after
  {
    height: 480px;
  }

  .cover .content h2
  {
    margin-bottom: 8px;
    font-size: 36px;
  }

  .cover .content time,
  .cover .content author,
  .cover .content .separator,
  .cover .content .comments-count,
  .cover .content .views-count
  {
    font-size: 15px;
  }

  .cover .content .separator
  {
    margin: 0 2px;
  }

  .cover .content .comments-count .icon,
  .cover .content .views-count .icon
  {
    margin: 0 8px;
  }

  .cover .content .description
  {
    margin-top: 12px;
    font-size: 17px;
  }

  .cover .share
  {
    display: none;
  }

  /* Статья */
  .article > .content
  {
    margin-top: -4px;
    padding: 0 16px;
    font-size: 17px;
    line-height: 1.5;
    color: #000;
  }

  .article > .content blockquote
  {
    position: relative;
    width: calc(100% + 32px);
    left: -16px;
    margin: 16px 0;
    padding: 16px;
    padding-bottom: 4px;
    font-family: Georgia, serif;
    background: #f6f6f6;
  }

  .article > .content blockquote img,
  .article > .content blockquote author,
  .article > .content blockquote author b
  {
    display: block;
    text-align: center;
  }

  .article > .content blockquote img
  {
    position: relative;
    margin: 16px auto;
    right: 20px;
    width: 96px;
    height: 96px;
    border-radius: 100%;
  }

  .article > .content blockquote author
  {
    width: calc(100% - 32px);
    font-size: 18px;
    font-weight: 300;
    font-family: Roboto, sans-serif;
    line-height: 1.4;
  }

  .article > .content blockquote author b
  {
    font-size: 24px;
    font-weight: 500;
  }

  .article > .content blockquote p
  {
    width: calc(100% - 32px);
    font-size: 19px;
  }

  /* Лучшие материалы */
  .featured
  {
    margin-top: -16px;
    text-align: center;
    background: #333;
  }

  .featured h3
  {
    display: inline-block;
    margin: 24px 0;
    width: 100%;
    font-size: 22px;
    font-weight: 300;
    color: #858585;
  }

  .featured .clear,
  .featured .button-container
  {
    display: none;
  }

  .featured .container a
  {
    color: #fff;
  }

  .featured .container h4,
  .featured .container p
  {
    width: calc(100% * 1.25);
    margin-left: calc(-100% / 7.5);
    color: transparent; /* скрываем текст у неактивных слайдов */
  }

  .featured .container h4
  {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 500;
  }

  .featured .container p
  {
    display: inline-block;
    margin-top: -16px;
    font-size: 18px;
    font-weight: 300;
  }

  .featured .img
  {
    display: inline-block;
    width: 128px;
    height: 128px;
    background-size: cover;
    background-position: 50%;
    border-radius: 100%;
  }

   /* показываем текст у неактивных слайдов */
  .swiper-slide-active h4,
  .swiper-slide-active p
  {
    color: #fff !important; /* не opacity, т.к. уж медленно всё получается */
    transition: color .2s ease-out; /* впервые использую без префиксов, уи-и! (http://caniuse.com/#feat=css-transitions) */
  }

  .swiper-pagination
  {
    position: relative;
    bottom: 24px !important;
    margin: 36px 0;
  }

  .swiper-pagination-bullet
  {
    width: 10px;
    height: 10px;
    background: #5c5c5c;
  }

  .swiper-pagination-bullet-active
  {
    background: #adadad;
  }

  /* Комментарии */
  .comments
  {
    margin-top: -32px;
  }

  .comments .container
  {
    display: inline-block;
    margin-top: -8px;
    padding: 0px 16px;
  }

  .comments .comment
  {
    margin: 18px 0;
    font-size: 18px;
    word-break: break-word;
  }

  .comments .comment.second-level
  {
    margin-left: 30px; 
  }

  .comments .comment img,
  .comments .form img
  {
    display: block;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 100%;
  }

  .comments .comment .rating
  {
    margin-top: -22px;
    font-size: 17px;
  }

  .comments .comment .info,
  .comments .comment p,
  .comments .comment .reply,
  .comments .form textarea,
  .comments .form .send
  {
    margin-left: 52px;
  }

  .comments .comment time
  {
    margin-left: 8px;
    color: #aaa;
    font-size: 13px;
    font-weight: 100;
  }

  .comments .comment p
  {
    font-size: 15px;
  }

  .comments .comment .reply-to
  {
    margin-left: 32px;
  }
}